<mat-toolbar color="primary">CrownHouseUS
  <!--Check user authentication and if user is authentic show logout button -->
<ng-container *ngIf="authService.currentUser$ | async as user;else loginButton"> 
  <button mat-button  >
    <mat-icon >account_circle</mat-icon> 
    {{user.displayName}}
    <mat-icon [matMenuTriggerFor]="usermenu">expand_more</mat-icon>
    
  </button>
</ng-container>

<!-- Show the login button if user not signed in-->
<ng-template #loginButton>
  <button mat-raised-button routerLink="/login">
    <mat-icon>login</mat-icon>
    Login</button>
</ng-template>
 
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
<!--Menu reference to logout-->
<mat-menu #usermenu="matMenu">
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>